<h2>Otevírací doba stánku {{ localBusiness.name }}:</h2>
    <div class="ops">
        {% for op in localBusiness.openingHours %}

            {% if op.productTakeOverType == cart.takeOverType %}
                <p><strong>{{ op.day.name }}</strong>: {{ op.timeFrom|date('H:i') }} - {{ op.timeTo|date('H:i') }}</p>
            {% endif %}

        {% endfor %}
    </div>

<p>Stánek naleznete na adrese {{ localBusiness.address.fullAddress }} (<a href="{{ localBusiness.mapyCZLink }}" target="_blank" title="Zobrazit na mapě">mapa</a>).</p>